div{

    background-color:rgb(182, 51, 165);
    padding:20px;
}
body{
    background-color:rgb(59, 136, 186)
}
.centered-text{

text-align:center;
font-size:25px;
font-weight:bold;
color:rgb(229, 219, 219);
padding:50px;

}